
/* body of page */
body {
    background: url("../images/swirl_pattern.png") #666666 center;
}

/* navbar */
.navbar {
    background: #666666;
}

/* main page container */
#main-container {
    margin-top:50px;
    padding: 20px 10px;
    border-radius: 10px;
    border: 2px solid #666666;
    background: #ffffff;
}

/* question container */
#question-container {
    background: #3ae9fc;
    color: #ffffff;
    margin-left: 5px;
    width: 100%;
}

#lyrics-container {
    margin-bottom: 30px;    
}

#translLyrics {
    font-size: 18px;
}

#answer-list {
    padding: 0;
    list-style-type: none;
    text-transform: capitalize;
}

.answer:hover {
    background: #3ae9fc;
}
